.radius {
  -webkit-border-radius: $radius-normal;
  -moz-border-radius: $radius-normal;
  border-radius: $radius-normal;
}

.rounded {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}