h1, .h1 {
  font-size: 2em;
  margin-bottom: 4px;
}

h2, .h2 {
  font-size: 1.5em;
  margin-bottom: 4px;
}

h3, .h3 {
  font-size: 1.17em;
  margin-bottom: 4px;
}

h4, .h4 {
  font-size: 1em;
  margin-bottom: 4px;
}

h5, .h5 {
  font-size: .83em;
  margin-bottom: 4px;
}

h6, .h6 {
  font-size: .75em;
  margin-bottom: 4px;
}